html, body {
  background-color:#283a5e;
 
}
h1{
  color: white;
  font-family:Bradley Hand, cursive	;	
  font-size:60px;
  text-align:Center;
  padding-top: 20px;      
  margin: 20px;
}
h2{
  color: white;
  font-family:Bradley Hand, cursive	;	
  font-size:48px;
  text-align:Center;
}
h3{ 
  color: white;
  font-family:Bradley Hand, cursive	;	
  font-size:48px;
  text-align:Center;
  
}
p{
  color: white;
  font-family: DejaVu Sans Mono, monospace;
  font-size:20px;
  text-align:center;
}
li{
  color: white;
  font-family: DejaVu Sans Mono, monospace;
  font-size:20px;
  text-align:center;
  
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
ul {
    text-align: center;
    list-style-position: inside;
}
a{
  color: lightgray;
  font-family:DejaVu Sans Mono, monospace;
  font-size:20px;
  text-align:center;
  height: 10;
  margin: 20px;
}
a:link{
  color:lightgray;
}
a:visited{
  color: black;
}
a:hover{
  color:red;
  
}
a:active{
  color: blue;
}

